<div class="down">
    <h1 >Who Am I </h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <h1 >Skills </h1>
    <ul>
        <li> c#</li>
        <li> c++</li>
        <li> python</li>
        <li> php</li>
        <li> javascript</li>
        <li> java</li>
        <li> typeSchipt</li>
        <li> sql</li>
        <li> html</li>
        <li> css</li>
    </ul>
    
    <br/>
    <h1 >Tools </h1>
    <ul>
        <li> Unity game (5.6 / 2021.2f)  </li>
        <li> piskel</li>
        <li> blender</li>
        <li> GitKraken</li>
        <li> Github Desktop</li>
    </ul>
    <h1 >IDE </h1>
    <ul>
        <li> intelij </li>
        <li> pycharm</li>
        <li> webstorm</li>
        <li> eclipse</li>
        <li> visual studio</li>
        <li> visual studio code</li>
        <li> monodevelop</li>
    </ul>
    <h1 >OS </h1>
    ervaren met os:
    <ul>
        <li> ubuntu (dekstop / server versies 16.04 t/m 20.04 And other varriants) </li>
        <li> Kali</li>
        <li> windows (7 / 10)</li>
        <li> eclipse</li>
        <li> pop os</li>
        <li> Fedora </li>
    </ul>
</div>