<div class="down">
    <div class="yearone">
        <h1>august 2017 - august 2018</h1>
        <p> started programming in java and c#</p>
        <br/>
    </div>
    <br/>
    <div class="yeartwo">
        <h1>august 2018 - august 2019</h1>
        <p> learned html + python </p>
        <br/>
    </div>
    <br/>
    <div class="yearthree">
        <h1>august 2019 - august 2020</h1>
        <p> did a lot of unity game dev stuff </p>
        <br/>
    </div>
    <br/>
    <div class="yearfour"> 
        <h1>august 2020 - august2021</h1>
        <p> did a lot of unity game dev stuff and got the way of thinking. need to be able to make everything myself when i make a game. i need to learn how to make spritesheats animations and more. started my study</p>
        <br/>
    </div>
    <br/>
    <div class="yearfive"> 
        <h1>august 2021 - august 2022</h1>
        <p> learned about cyber security angular and lots of stuff about databases </p>
        <br/>
    </div>
    <br/>
    <div class="yearsix"> 
        <h1>august 2022- august 2023</h1>
        <p> Docker, React, Devops, azure, evenMore c#, c++, TCP/UDP GameServers</p>
        <br/>
    </div>
</div>