<div class="down">
    <div class="yearone">
        <h1>august 2017 - august 2018</h1>
        <p> started programming in java and c#</p>
        <p> Most Projects are lost from this time because I didnt use github yet <br/>
        <br/>
    </div>
    <br/>
    <div class="yeartwo">
        <h1>august 2018 - august 2019</h1>
        <p> learned html + python </p>
        <p> Most Projects are lost from this time because I didnt use github yet <br/>
        <br/>
    </div>
    <br/>
    <div class="yearthree">
        <h1>august 2019 - august 2020</h1>
        <p> did a lot of unity game dev stuff And Started my education at Vista College </p>
        <p> Projects I have made:       <br/>
            <a href="https://github.com/Devilskey/projectschool">Smort App (TikTok Clone project)</a><br/>
            <a href="https://github.com/Devilskey/DevilEgg">DevilEgg GameJam Game</a><br/>
            <a href="https://devilskeystudio.itch.io/space">Evil Space GameJam Game (Game Link)</a><br/>
            <a href="https://devilskeystudio.itch.io/lavacube-html">Evil Space GameJam Game (Game Link)</a><br/>
            <a href="https://github.com/Devilskey/VirusKiller">New Fps GameJam Game (Game Link)</a><br/>
            <a href="">New Fps GameJam Game (Game Link)</a><br/>
            Ar Project (Project has no Repo)<br/>
        </p>
        <br/>
    </div>
    <br/>
    <div class="yearfour"> 
        <h1>august 2020 - august2021</h1>
        <p> did a lot of unity game dev stuff and got the way of thinking. need to be able to make everything myself when i make a game. i need to learn how to make spritesheats animations and more. started my study</p>
        <p> Projects I have made:       <br/>
        <a href="https://devilskeystudio.itch.io/2020">2020 GameJam Game (Game Link)</a><br/>
        <a href="https://github.com/Devilskey/Bring-me-home">2020 GameJam Game</a><br/>
        <br/>
    </div>
    <br/>
    <div class="yearfive"> 
        <h1>august 2021 - august 2022</h1>
        <p> learned about cyber security angular and lots of stuff about databases </p>
        <p> Projects I have made:       <br/>
        <a href="https://devilskeystudio.itch.io/2020">2020 GameJam Game (Game Link)</a><br/>
        <a href="https://github.com/Devilskey/Bring-me-home">2020 GameJam Game</a><br/>
        <br/>
    </div>
    <br/>
    <div class="yearsix"> 
        <h1>august 2022- august 2023</h1>
        <p> Docker, React, Devops, azure, evenMore c#, c++ </p>
        <p> Projects I have made:       <br/>
            <a href="https://github.com/Devilskey/Smort-app">Smort App (TikTok Clone project)</a><br/>
            <a href="https://github.com/Devilskey/Smort-Site">Smort Site (TikTok Clone project)</a><br/>
            <a href="uhttps://github.com/Devilskey/Smort-apirl">Smort Api (TikTok Clone project)</a><br/>
            <a href="https://github.com/Devilskey/portfolioSite">PortFolio Site</a><br/>
            <a href="https://github.com/Devilskey/Flutter-sitemanger-app">PortFolio App</a><br/>
            <a href="https://github.com/Devilskey/PortfolioApi">PortFolio Api</a><br/>
            <a href="https://github.com/Devilskey/DeliveryGameJamProject">C++ GameJam Game</a><br/>
            <a href="https://github.com/Devilskey/LavaCube-Cplusplus">lavacube c++ GameJam Game</a><br/>
        </p>
        <br/>
    </div>
</div>