<div class="NavBarBackground">
    <ul>
        <li><img class="logo" src="../../assets/images/logo.jpg"> <img></li>
        <li><a routerLink="/">homepage</a></li>
        <li><a routerLink="/Projects">Projects</a></li>
        <li><a routerLink="/fiveYears">5 Years</a></li>
        <li><a routerLink="Aboutme">About me</a></li>
    </ul>
</div>