@media only screen and (min-width: 768px) {
    .NavBarBackground{
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        width: 100%;
        background-color: darkred;
    }
    .NavBarBackground ul{
        list-style-type: none;
        position: absolute;
        padding-left: 40px;
    }

    .NavBarBackground li {
        float: left;
        font-size: 20px;
        
    }

    .NavBarBackground li a:hover {
        color: yellow;
    }

    .NavBarBackground li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .logo{
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 768px) {

    .NavBarBackground{
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        width: 100%;
        background-color: darkred;
    }
    .NavBarBackground ul{
        list-style-type: none;
        position: absolute;
    }

    .NavBarBackground li {
        float: left;
        font-size: 20px;
        
    }

    .NavBarBackground li a:hover {
        color: yellow;
    }

    .NavBarBackground li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .logo{
        width: 75px;
        height: 75px;
        border-radius: 50px;
        
    }
}