
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    overflow:  hidden;
}

.BottomContent{
    min-height: 94vh;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.Info__Content{
    background-color: #212121 ;
    width: 90%;
    border-radius: 10px;
}

.Info{
    display: flex;
    float: left;
    width: 50%;
    padding-left: 50px;
}
.Info p{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: white;

}

.InfoTitle{
    padding-top: 20px;
    font-size: 70px;
    color: white;
    text-align: center;
    position: relative;
}
.InfoGrid{
    padding-top: 100px;
    width: 100%;

}
.InfoBanner{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position: static;
}
.VideoText{
    color: lightgray;
    font-size: 40px;
    text-align: center;
}
.videoContainer{
    position: absolute;
    bottom: 20px;
    background-color: #111111;
    width: 250px;
    height: 60px;
    border-radius: 20px;
}
#name{
    width: 80%;
    height: 50px;
    float:right;

}
#nameTxt{
    float:left;
}


#subject{
    width: 80%;
    height: 50px;
    float:right;
}

#subjectTxt{
    padding-top: 20px;
    float:left;
}
#Body{
    width: 100%;
    padding: 8px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#send{
    float:right;
    width: 100%;
    height: 50px;
}

.MeImage{
    width: 300px;
    height: 300px;
    float: right;
    padding-right: 30px;
    border-radius: 50px;
}

