<body>
<section>
        <video src="../../assets/video/sitevid.mp4" class="BackgroundVideo__Content" autoplay=""  loop="" muted="">    </video>
        <div class="videoContainer"><h1 class="VideoText">ScrollDown</h1></div>
    </section>

    <section class="BottomContent">
        <div class="InfoGrid">
            <div class="Info"> 
                <div class="Info__Content"> 
                 <div class="InfoTitle">contact me</div>
                    <p>
                        <label id="nameTxt">Name: </label>
                        <input id="name" type="text" [(ngModel)]="contactname"><br/>
                        <label id="subjectTxt">subject: </label>
                        <input id="subject" type="text" [(ngModel)]="contactSubject" ><br/>

                        <textarea id="Body" type="text" [(ngModel)]="contactBody" ></textarea><br/>
                        <button id="send" type="button" (click)="SendToApi()"> Send</button><br/>
                        {{Succes}}
                    </p>
                </div>
            </div>
            <div class="Info"> 
                <div class="Info__Content"> 
                    <div class="InfoTitle">about me</div>
                    <img src="../../assets/images/Knipsel3.PNG" class="MeImage">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic necessitatibus recusandae, atque dolorem qui excepturi iusto vel beatae,
                         fuga incidunt odio qui dae, atque dolorem qui excepturi iusto vel be dae, atque dolorem qui excepturi iusto vel bedae, atque dolorem qui excepturi iusto vel be dae,
                          atque dolorem qui excepturi iusto vel be dae, atque dolorem qui excepturi iusto vel be dae, atque dolorem qui excepturi iusto <a routerLink="Aboutme">ReadMore...</a> </p>
                    <br/>
                </div>
            </div>
        </div>
  </section>
</body>
