<body>
<section>
        <video src="../../assets/video/sitevid.mp4" class="BackgroundVideo__Content" autoplay=""  loop="" muted="">    </video>
        <div class="videoContainer"><h1 class="VideoText">ScrollDown</h1></div>
    </section>

    <section class="BottomContent">
        <div class="InfoGrid">
            <div class="Info"> 
                <div class="Info__Content"> 
                 <div class="InfoTitle">contact me</div>
                    <p>
                        <label id="nameTxt">Name </label>
                        <input id="name" type="text" [(ngModel)]="contactname"><br/>
                        <label id="subjectTxt">Title </label>
                        <input id="subject" type="text" [(ngModel)]="contactSubject" ><br/>

                        <textarea id="Body" type="text" [(ngModel)]="contactBody" ></textarea><br/>
                        <button id="send" type="button" (click)="SendToApi()"> Send</button><br/>
                        {{Succes}}
                    </p>
                </div>
            </div>
            <div class="Info"> 
                <div class="Info__Content PhoneColor"> 
                    <div class="InfoTitle">about me</div>
                    <img src="../../assets/images/Me.jpg" class="MeImage">
                    <p>    Hi, my name is Bram Hendriks. I am a student at Vista College following the education software development. <br/> 
                        I am programming since 2017 as a Hobby and started in the unity game engine. Now i'm trying to make from my hobby my job. <br/> 
                        The reason I got into programming is because ... <a routerLink="Aboutme">ReadMore...</a> </p>
                    <br/>
                </div>
            </div>
        </div>
  </section>
</body>
